body{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
button{
    height: 500px;
    width: 500px;
    font-size: 40px;
    border: none;
    border-radius: 20px;
    background-color: red;
    
    display: flex;
    justify-content: center;
    align-items: center;
}