body{
    margin: 0;
    padding: 0;
    background-image: linear-gradient(0deg, rgba(0,0,0,0.7), rgba(0,0,0,0.7)), url(../img/futbolnyy-stadion.jpg);

}
.containder_bloc {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container_input {
    height: 800px;
    width: 25%;
    background-color: rgba(57, 93, 170, 0.645);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right:50px ;
    
    
}
label{
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
    
}
 label input {
display:block;
height: 40px;
width: 400px;
margin: 3px 0;
}
::placeholder  {
    padding: 0;
    font-size: 15px;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    }


.block_name {

}
.block_surname {

}
.block_surname label input {
    display: block;
    }
.block_age {

}
.block_age label input {
    display: block;
    }
.block_number {

}
.block_number label input {
    display: block;
    }
.block_roles {
    font-size: 25px;
    font-weight: 700;

}
.block_roles select{
    margin-top: 7px;
    margin-bottom: 7px;
    height: 40px;
    width: 300px;
    font-size: 25px;
}
.block_button {

}
.playerDelete {

}
.playerFindByNumber {

}

.playerEdit {

}
.showAllPlayers {


}
.contaiter_text {
width: 40%;
height: 800px;
background-color: rgba(56, 58, 50, 0.905);
word-wrap: break-word;
font-size: 25px;
text-align: center;
line-height: 35px;
word-spacing: 5px;
padding-top: 20px;
overflow: auto;
color: rgb(212, 196, 196);
}

.container_input button{
    border: none;
    font: inherit;
    font-size: 25px;
    padding: 0;
    height: 34px;
    width: 407px;
    margin-bottom: 10px;
}
.container_input input{
   
}

button:hover{
    background-color: rgb(221, 180, 141);
    cursor: pointer;
}
button:active{
    box-shadow: 2px 2px 2px 2px rgb(67, 48, 20);
}

/* h1{
    position:absolute;
    text-decoration: underline;
    text-transform: uppercase;
    color: white;
    left: 50%;
    transform:translate(-50%, -50%);
    
} */